* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #d85fa8;
}

.logo-container {
  padding-left: 20%;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 4px;
}

.nav-desktop {
  display: block;
}

.nav-desktop .nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  letter-spacing: 4px;
}

.nav-desktop .nav-links li {
  list-style: none;
}

.nav-desktop .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-mobile {
  display: none;
}

.nav-mobile i {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.nav-mobile .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #d85fa8;
  padding: 20px;
  border-radius: 8px;
}

.nav-mobile .nav-links li {
  list-style: none;
}

.nav-mobile .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.logo:hover {
  color: #6814f8;
}

.nav-desktop .nav-links li:hover {
  transform: scale(1.2);
}

.nav-desktop .nav-links a:hover {
  color: #6814f8;
  text-decoration: underline;
}

.nav-mobile .nav-links li:hover {
  transform: scale(1.2);
}

.nav-mobile .nav-links a:hover {
  color: #6814f8;
  text-decoration: underline;
}
